:root
{
	/* Snipped from the official Splatoon site, hope Nintendo doesn't mind
	   - original link - https://splatoon.nintendo.com/_images/backgrounds/tapes-black.jpg */
	--BodyBackground : url(https://cdn.discordapp.com/attachments/748697806453080157/1095526141063860224/tapes-black.png);
	--Bodybackground-repeat: repeat; 
	
	--BodyWrapperBackground : rgb(39 39 39 / 83%);
	
	--DefaultTextColor : rgb(255 255 255);
	--LinkColor : rgb(244 255 40);
	--LinkHoverColor : #cfff00;
	--PrimaryNavBackgroundColor: #646566e1;
	--SecondaryNavBackgroundColor: #848c91e1;
	--NavPaneBackgroundColor: #274b69;
	--NotificationUnseenBG: #274b69;
}

/*
@media screen and (min-width:1900px){
    .home-page-contents_header__zRRrG{
        --header-image-width:1900px
    }
    module.PageModule > div.Content:before{
        background-image:url(https://splatoon.nintendo.com/images/svg/homepage-rip-left.svg);
        background-position:100%;
        left:calc((100vw - var(--header-image-width))/2 - 5px);
    }
    .home-page-contents_header__zRRrG:after,.home-page-contents_header__zRRrG:before{
        background-repeat:no-repeat;
        background-size:cover;
        content:" ";
        height:100%;
        position:absolute;
        top:0;
        width:50px;
        z-index:1
    }
    module.PageModule > div.Content:after{
        background-image:url(https://splatoon.nintendo.com/images/svg/homepage-rip-right.svg);
        background-position:0;
        right:calc((100vw - var(--header-image-width))/2 - 5px);
    }
}
*/


module.PageModule > div.Content{
	padding: 15px;
}


.Notification.Unseen {
	background: var(--NotificationUnseenBG);
	border-top-color: var(--NotificationUnseenDividerColor);
}

.Notification {
	list-style-type: none;
	padding: .75em;
}

.Avatar.Offline{
	/* turns offline avatars slightly transparent */
	opacity : 0.5;
}

.Avatar.Online{
	/* and give online avatars a lil purple outline */
	opacity : 1.0;
	box-shadow : 0 0 0 0.14em rgb(162,0,183);
}

/* Pretty much every input field + their selected variants */
input[type=text], input[type=password], input[type=password], input[type=number], input[type=email], input[type=num], input[type=tel], select, .SelectLike, option, .OptionLike, optgroup, textarea, .TextareaLike {
	background: #6b7a84;
}

spriteIcon.SubmissionType.Mod, .SpriteIcon.SubmissionType.Mod {
	/* i prefer the look of the old gamefile icon over the weird wrench thing, i think it looks cooler */
	background-position: calc(-224px*2) calc(-16px*2);
}

#SubNavigator {
	display: flow-root;
	font-size: var(--SubNavigatorFontSize);
	border-bottom-width: .125em;
	border-bottom-style: solid;
	border-bottom-color: var(--SubNavigatorBorderColor);
}

[data-_ssecondarynavposition="Left"] #MainContentHeader.Fixed #SubNavigator .DropdownMenuSubNavigator > li:first-of-type {
	padding-left: 1em;
	border-radius: 0 0 0 1em;
}
  [data-_ssecondarynavposition="Right"] #MainContentHeader.Fixed #SubNavigator .DropdownMenuSubNavigator > li:last-of-type {
	padding-right: 1em;
	border-radius: 0 0 1em 0;
}
